*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 70%;
    margin: 0 auto;
    background-color: #726A95;
}

.flex-container{
    display: flex;
}

header{
    justify-content: space-between;
    margin: 2rem 0;
}

header img{
    width: 25%;
}

header a{
    text-decoration: none;
    color: #45046A;
    font-weight: 500;
    font-size: 1.3rem;
    margin: auto 0;
    border: 3px solid #45046A;
    padding: 0.6rem 1rem;
    border-radius: 10px;
}

header a:hover{
    background-color: #45046A;
    color: white;
    transition: .3s;
}

.header-text{
    text-align: justify;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 1.2rem 1.7rem;
    background-color: #45046A;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}

.main-content{
    margin: 4rem 0;
    justify-content:space-around;
}

textarea{
    background-color: #726A95;
    border: 5px solid #45046A;
    resize: none;
    outline: none;
}

/* #inputText{
    font-size: 1.3rem;
} */

#inputText,#outputText,::placeholder{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    padding: .5rem;
    color: rgb(255, 255, 255);
}

::placeholder{
    font-weight: 100;
}

.btn-div{
    flex-direction: column;
    justify-content: space-around;
}

.btn{
    align-items: center;
    font-size: 1rem;
    padding: .8rem .5rem;
    flex-direction: column;
    background-color: #45046A;
    color: white;
    border-radius: 15px;
    /* border: 1px solid #45046A; */
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}

.btn:hover{
    background-color: #726A95;
    border: 3px solid #45046A;
    color: #45046A;
}

.btn-translate{
    font-size: 1.5rem;
    padding: 1.6rem;
    
}

footer{
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
}

.footer-portfolio-link{
    font-weight: 700;
}

.footer-portfolio-link:hover{
    font-weight: 300;
}




